.btn-outline-primary {
  color: #3DC2AD;
  background-color: #FFFFFF;
  border-color: #3DC2AD;
}
.btn-outline-primary:hover{
  background: #3DC2AD;
  color: #343A40 ;
}
.btn-outline-primary:focus{
  background: #3DC2AD;
  color: #FFFFFF;
  outline: none;
  box-shadow: none;
}

.btn-outline{
  border-color: #972EBE;
  color: #972EBE;
}
.btn-outline:hover{
  background: linear-gradient(to right, #CD4E81, #922AC5, #F79D83, #F8D287);
}
